#front > small > *, #front > h1 {
	margin:0;
	padding:0;
}

table, th, td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 3px;
}

input.correct + label {
	font-weight: bold;
	color: green;
}

input.failed + label {
	font-weight: bold;
	color: red;
}

.nightMode input.correct + label {
	font-weight: bold;
	color: green;
}

.nightMode input.failed + label {
	font-weight: bold;
	color: red;
}

h2.success {
	color: green;
}

h2.failed {
	color: red;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    pointer-events: none;
}

#overlay.success {
	background-color: green;
}

#overlay.failed {
	background-color: red;
}